<div class="inner text-center">
  <h1 class="text-uppercase fw-bold py-3 h2">about component</h1>
  <div>
    <div class="lineStar bg-black"></div>
    <i class="fas fa-star fa-2x px-2"></i>
    <div class="lineStar bg-black"></div>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <div class="about-info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam error
        libero laborum voluptatem minus in sunt a. Nihil, eos delectus? Dolorem
        suscipit voluptas praesentium aliquam officiis, dolorum architecto
        libero ipsum.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="about-info">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam error
        libero laborum voluptatem minus in sunt a. Nihil, eos delectus? Dolorem
        suscipit voluptas praesentium aliquam officiis, dolorum architecto
        libero ipsum.
      </p>
    </div>
  </div>
</div>
