<nav class="navbar navbar-expand-lg">
  <div class="mx-auto bg-warning-subtle m-1 mt-0 p-2 rounded-4">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link fs-3 mx-3 hoverLink"
          routerLink="home"
          routerLinkActive="bg-warning rounded-4"
          >Home</a
        >
        <a
          class="nav-link fs-3 mx-3 hoverLink"
          routerLink="about"
          routerLinkActive="bg-warning rounded-4"
          >About</a
        >
        <a
          class="nav-link fs-3 mx-3 hoverLink"
          routerLink="portfolio"
          routerLinkActive="bg-warning rounded-4"
          >Portfolio</a
        >
        <a
          class="nav-link fs-3 mx-3 hoverLink"
          routerLink="contact"
          routerLinkActive="bg-warning rounded-4"
          >contact</a
        >
      </div>
    </div>
  </div>
</nav>
