<section>
  <div class="rounded-top-4 py-3">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="inner">
            <h3>LOCATION</h3>
            <span>2215 John Daniel Drive </span>
            <span>Clark, MO 65243</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner">
            <h3>AROUND THE WEB</h3>
            <ul class="d-flex w-75 mx-auto justify-content-between">
              <li class="list-group">
                <span class="fa-stack" style="vertical-align: top">
                  <i class="fa-regular fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-facebook-f"></i>
                </span>
              </li>
              <li class="list-group">
                <span class="fa-stack" style="vertical-align: top">
                  <i class="fa-regular fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-instagram"></i>
                </span>
              </li>
              <li class="list-group">
                <span class="fa-stack" style="vertical-align: top">
                  <i class="fa-regular fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-linkedin-in"></i>
                </span>
              </li>
              <li class="list-group">
                <span class="fa-stack" style="vertical-align: top">
                  <i class="fa-regular fa-circle fa-stack-2x"></i>
                  <i class="fa-brands fa-youtube"></i>
                </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="inner">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center py-3">
    <p>Copyright © Your Website 2021</p>
  </div>
</section>
