<div class="text-center my-3 d-flex flex-column">
  <h1 class="text-uppercase fw-bold py-3 h2">contact section</h1>
  <div>
    <div class="lineStar bg-black"></div>
    <i class="fas fa-star fa-2x px-2"></i>
    <div class="lineStar bg-black"></div>
  </div>
</div>
<div class="container d-flex flex-column my-5">
  <div class="mx-auto w-75">
    <input
      type="text"
      id="disabledTextInput"
      class="form-control border-top-0 border-end-0 border-start-0 my-3"
      placeholder="User Name"
    />
  </div>
  <div class="mx-auto w-75">
    <input
      type="text"
      id="disabledTextInput"
      class="form-control border-top-0 border-end-0 border-start-0 my-3"
      placeholder="User age"
    />
  </div>
  <div class="mx-auto w-75">
    <input
      type="text"
      id="disabledTextInput"
      class="form-control border-top-0 border-end-0 border-start-0 my-3"
      placeholder="Use Email"
    />
  </div>
  <div class="mx-auto w-75">
    <input
      type="text"
      id="disabledTextInput"
      class="form-control border-top-0 border-end-0 border-start-0 mt-3"
      placeholder="Use Password"
    />
  </div>
</div>
<button class="btn btn-dark posbtn">Send Message</button>
