.form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}

.posbtn {
  transform: translateX(180%);
  -webkit-transform: translateX(180%);
  -moz-transform: translateX(180%);
  -ms-transform: translateX(180%);
  -o-transform: translateX(180%);
}
.lineStar {
  background-color: #fff;
  width: 60px;
  height: 3px;
  display: inline-block;
}
