.bg-img {
  background-color: rgba(76, 43, 166, 0.508);
  opacity: 0;
  cursor: pointer;
}

.bg-img i {
  font-size: 5rem;
  font-weight: 100;
}

.bg-img:hover {
  opacity: 1;
  transition: all 600ms;
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -ms-transition: all 600ms;
  -o-transition: all 600ms;
}

.LI {
  left: 95% !important;
}
.previousImage,
.nextImage {
  cursor: pointer;
}
