<section>
  <div class="container my-5">
    <div>
      <h1 class="text-center my-3">portfolio component</h1>
    </div>
    <div>
      <div class="row g-3">
        @for (image of images; track $index) {
        <div class="col-md-4">
          <div class="inner position-relative" (click)="onOpenImage(image)">
            <img [src]="image" class="w-100 pe-auto" alt="poert" />
            <div
              class="text-white position-absolute bg-img top-0 start-0 w-100 h-100"
            >
              <i
                class="fa-solid fa-plus position-absolute position-relative start-50 top-50 translate-middle"
              ></i>
            </div>
          </div>
        </div>
        }
      </div>
      <div
        class="d-flex justify-content-center align-items-center position-fixed top-0 start-0 end-0 bottom-0 bg-dark bg-opacity-50"
        [class.d-none]="showImage"
        (click)="outSideClose()"
      >
        <div class="position-relative">
          <img [src]="imageOnClick" class="w-100" />
          <div class=" ">
            <i
              class="fa-solid fa-chevron-left text-white p-2 fs-3 position-absolute bottom-50 nextImage"
              (click)="previousImage()"
            ></i>
            <i
              class="fa-solid fa-xmark p-2 fs-3 text-white position-absolute LI top-0"
              (click)="closeImage()"
            ></i>
            <i
              class="fa-solid fa-chevron-right text-white p-2 fs-3 position-absolute end-0 bottom-50 previousImage"
              (click)="nextImage()"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
